---
import HTMLIcon from "../components/icons/Html.astro";
import CSSIcon from "../components/icons/Css.astro";
import JSIcon from "../components/icons/Js.astro";
import PHPIcon from "../components/icons/PHP.astro";
import MongoIcon from "../components/icons/Mongo.astro";
import CSharpIcon from "../components/icons/CSharp.astro";
import UnityIcon from "../components/icons/Unity.astro";
import SQLIcon from "../components/icons/Sql.astro";
import MySQLIcon from "../components/icons/MySQL.astro";
import O365Icon from "../components/icons/O365.astro";
import VuforiaIcon from "../components/icons/Vuforia.astro";
import ArcoreIcon from "../components/icons/ARCore.astro";
import PyIcon from "../components/icons/Python.astro";
import JupyterIcon from "../components/icons/Jupyter.astro";
import PowerBIIcon from "../components/icons/PowerBI.astro";
import ReactIcon from "../components/icons/React.astro";
import ASPIcon from "../components/icons/ASP.astro";
import TsIcon from "../components/icons/Ts.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import NestIcon from "../components/icons/Nest.astro";
import PostgreSQLIcon from "../components/icons/PostgreSQL.astro";
import PrismaIcon from "../components/icons/Prisma.astro";
import IconIA from "../components/icons/IA.astro";

const PROJECTS = [
  {
    title: "Detamor",
    description: "Catálogo de productos desarrollado con tecnologías web y backend estructurado en Python. Con asistente chatbot que facilita la compra de productos para el usuario - FastAPI, React, TailwindCSS, Api Groq (Llama 3.3 70B).",
    source: "https://detamor.vercel.app",
    image: "/img/detamor.webp",
    tags: [
      { name: "Python", icon: PyIcon },
      { name: "React", icon: ReactIcon },
      { name: "TailwindCss", icon: TailwindIcon },
      { name: "IA", icon: IconIA },
    ],
  },
  {
    title: "Atrato Habla PWA",
    description: "Sistema de alertas temprana con prediccion de inundaciones y deslizamientos, desarrollado para la hackathon Col 5.0, integrando análisis de datos y tecnologías - PWA, TypeScript, JavaScript, Python (FastApi), Jupyter.",
    source: "https://atrato-habla-pwa.vercel.app",
    image: "/img/atratoHabla.webp",
    tags: [
      { name: "TypeScript", icon: TsIcon },
      { name: "JavaScript", icon: JSIcon },
      { name: "Python", icon: PyIcon },
      { name: "Jupyter", icon: JupyterIcon },
      { name: "IA", icon: IconIA },
    ],
  },
  {
    title: "Sysges",
    description: "Sistema administrativo para la gestión de permisos y licencias de los empleados de una empresa - TypeScript, NestJS, PostgreSQL, Prisma.",
    source: "https://github.com/Alder-dev/Sysges",
    image: "/img/sysges.webp",
    tags: [
      { name: "TypeScript", icon: TsIcon },
      { name: "NestJS", icon: NestIcon },
      { name: "PostgreSQL", icon: PostgreSQLIcon },
      { name: "Prisma", icon: PrismaIcon },
    ],
  },
  {
    title: "Animalia AR",
    description:
      "Aplicación móvil de realidad aumentada para la conservación de especies en peligro de extinción, desarrollada con React Native, ARCore y Vuforia, ofreciendo una experiencia educativa e inmersiva.",
    source: "https://page-seven-orpin.vercel.app",
    image: "/img/animalia.webp",
    tags: [
      { name: "React Native", icon: ReactIcon },
      { name: "Unity", icon: UnityIcon },
      { name: "C#", icon: CSharpIcon },
      { name: "ARCore", icon: ArcoreIcon },
      { name: "Vuforia", icon: VuforiaIcon },
    ],
  },
  {
    title: "React Películas",
    description:
      "Aplicación web de películas: Desarrollo con TypeScript, ReactJs, TailwindCss, Asp.NET Core y Entity Framework para la gestión de películas y usuarios.",
    source: "https://github.com/Alder-dev/react-peliculas",
    sourcebk: "https://github.com/Alder-dev/peliculasApi",
    url: "https://react-peliculas-rho.vercel.app",
    image: "/img/peliculas.webp",
    tags: [
      { name: "ReactJs", icon: ReactIcon },
      { name: "TailwindCss", icon: TailwindIcon },
      { name: "ASP.NET Core", icon: ASPIcon },
      { name: "SQL", icon: SQLIcon },
    ]
  },
  {
    title: "Análisis y predicción de homicidios",
    description:
      "Proyecto de análisis de datos y predicción de homicidios utilizando Python, Jupyter, Pandas, Matplotlib y Scikit-learn para identificar patrones y tendencias.",
    source: "https://github.com/Alder-dev/analisis_homicidios",
    image: "/img/homicidios.webp",
    tags: [
      { name: "Python", icon: PyIcon },
      { name: "Jupyter", icon: JupyterIcon },
    ],
  },
  {
    title: "Inteligencia de negocio para la educación",
    description:
      "Solución de inteligencia de negocio para el apoyo a la toma de decisiones en pro de fortalecer la calidad de la educación básica y media del departamento del Chocó.",
    source:
      "https://drive.google.com/file/d/1TVTtDYgbP8DpS1IG7Ng3i3FGFOhlINwE/view?usp=sharing",
    image: "/img/educacion.webp",
    tags: [
      { name: "O365", icon: O365Icon },
      { name: "Power BI", icon: PowerBIIcon },
      { name: "SQL", icon: SQLIcon },
      { name: "MySQL", icon: MySQLIcon },
    ],
  },
  {
    title: "SDG App",
    description:
      "Aplicación móvil creada con Unity y C# para el aprendizaje del sistema digestivo humano a través de modelos 3D y materiales adicionales.",
    source:
      "https://drive.google.com/drive/folders/1CzwIMHP6HhF569Jm6ijZhF7vDOyJn5Qq?usp=sharing",
    image: "/img/SDG.webp",
    tags: [
      { name: "Unity", icon: UnityIcon},
      { name: "C#", icon: CSharpIcon },
    ],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, source, sourcebk, url }) => (
    <article class="bg-gray-800 dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6">
      <h3 class="text-xl font-semibold mb-2 text-blue-100/90">{title}</h3>
      <p class="text-gray-100 dark:text-gray-100 mb-4 text-pretty">
        {description}
      </p>

      <div class="flex flex-row items-center flex-wrap gap-4 mb-4">
        {tags.map(({ name, icon: Icon }) => (
          <span class="rounded-full border border-white/50 flex justify-center items-center gap-x-2 py-1 px-2 lg:py-1 lg:px-4 bg-white/10 hover:scale-105 hover:bg-white/20 transition">
            <div title={name} class="size-8 flex items-center justify-center">
              <Icon class="w-full h-full" />
            </div>
            <span class="text-sm text-gray-200">{name}</span>
          </span>
        ))}
      </div>
      <div class="mb-4">
        <a
          href={source}
          target="_blank"
          rel="noopener noreferrer"
          class="text-sky-400 hover:underline"
        >
          Ver más detalles 
        </a>
        {sourcebk && (
          <p></p>
          <a
            href={sourcebk}
            target="_blank"
            rel="noopener noreferrer"
            class="text-sky-400 hover:underline"
          >
            Ver código fuente (Backend)
          </a>
        )}
        {url && (
          <p></p>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-sky-400 hover:underline"
          >
            Ver demo
          </a>
        )}
      </div>
      <img
        src={image}
        alt={title}
        class="rounded-lg shadow-2xl shadow-white/10"
      />
    </article>
  ))
}
